.home_page {
    background-color: #F3F4F6;
    height: 100vh;
}

.navbar {
    background-color: rgb(15 23 42);
    color: #ffffff;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.navbar h1 {
    font-size: 30px;
}

.navbar div:nth-child(2) a {
    margin: 0 20px;
}

.navbar div a:hover {
    border-bottom: 1px solid #ffffff;
}

